.btn-container {
  font-size: 1.8rem;
  background-color: var(--bgBtn);
  padding: 2.5rem;
  height: 6rem;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0px 5px 2px -3px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.btn-container:hover {
  background-color: var(--btnHover);
}

.operator {
  color: var(--brightRed);
}

.clear-btn,
.equals-btn {
  width: 98%;
  grid-column: 1 / 7;
  height: 80%;
  border-radius: 1rem;
  border: 0;
  font-size: 2.2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--limeGreen);
  color: var(--textColor);
  cursor: pointer;
}

.clear-btn {
  align-self: start;
  background-color: transparent;
  color: var(--brightRed);
  width: auto;
  margin-top: 1rem;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.clear-btn:hover {
  color: hsl(356, 62%, 42%);
}

.equals-btn {
  margin-top: 2rem;
  box-shadow: 0px 11px 6px -3px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  transition: background-color 0.3s;
}

.equals-btn:hover {
  background-color: hsl(163, 76%, 35%);
}

.equals-btn:hover,
.btn-container:hover {
  transform: translateY(-1.5px);
}
